<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyLibs</title>
  <link href="/static/css/bootstrap.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="text-center">
      <div style="padding-top: 2rem">
        <p>Could not apply changes. Explanation: {{err}}</p>
        <button onclick="history.go(-1)" class="btn btn-primary">
        Back
        </button>
      </div>
    </div>
  </div>
  
  <script src="/static/js/bootstrap.js"></script>
</body>

</html>
