<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MyLibs</title>
  <link href="static/css/bootstrap.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div class="text-center">
      <div style="padding-top: 2rem">
        <p>Your request has been submitted. Within the next few days it will be processed by an admin or manager.</p>
        <p><a href="/login" class="btn btn-primary">Back to the main page</a></p>
      </div>
    </div>
  </div>
  
  <script src="static/js/bootstrap.js"></script>
</body>

</html>